/*Section-middle*/

.second {
	position: relative;
    overflow: hidden;
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    /*border: 2px solid #000;*/
}

.second__image {
 	position: absolute;
    left: -70px;
    width: 1110px;
    bottom: 0;
  }

.second__title {
	left: 80px;
	position: relative;
    font-size: 70px;
    font-weight: 600;
    color: #E51937;
}

.second__info {
	position: relative;
    box-sizing: border-box;
    width: 440px;
    height: 900px;
    padding-top: 51px;
    padding-left: 52px;
    background-color: #E51937;
    color: #FFF;
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

.info__title {
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 11px;
}

.info__description {
	font-weight: 500;
	font-size: 15px;
	width: 316px;
	height: 206px;
	margin-bottom: 54px;
}

.info__block {
	display: flex;
}

.info__text {
	margin-left: 20px;
}

.info__text-margin {
	margin-left: 10px;
}

.info__block-button {
	width: 160px;
	height: 40px;
	color: #fff;
	background-color:#E51937 ;
	border: 2px solid #fff;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	margin-left: 22px;
}

.info__block-margin {
	display: flex;
	align-items: center;
	margin-top: 100px;
	/*border: 2px solid black;*/
}

.span-one {
	text-align: left;
	font-size: 35px;
	font-weight: 600;
}

.span-two {
	font-weight: 600;
	font-size: 20px;
}

.span-tree {
	font-size: 12px;
}