/*Section-middle*/

.description { 
	position: relative;
	overflow: hidden;
	margin-top: 37px;
	display: flex;
	justify-content: space-between;
}

.description__image {
	position: absolute;
	left: 0px;
	max-width: 1200px;
	bottom: 0;
}

.description__title {
	left: 5%;
	position: absolute;
	font-size: 70px;
	font-weight: 600;
	color: #E51937;
}

.description__info {
	position: relative;
	box-sizing: border-box;
	width: 440px;
	height: 900px;
	padding-top: 51px;
	padding-left: 52px;
	background-color: #E51937;
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*	border: 2px solid blue;*/
}

.info__block-title {
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 11px;
	/*border: 2px solid green;*/
}

.info__block-character {
	font-weight: 500;
	font-size: 15px;
	width: 316px;
	height: 206px;
	line-height: 18px;
}

.info {
	/*	border: 2px solid blue;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info__block_text {
	/*	border: 2px solid black;*/
	margin-bottom: 54px;
	margin-top: -40px;
}

.info__block_item {
	/*	border: 2px solid yellow;*/

}

.info__block {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 34px;
	/*	border: 2px solid black;*/
}

.info__block-image {
	margin-right: 20px;
}

.info__text {
}

.info__text_margin {
	font-weight: bold;
	font-size: 13px;
	line-height: normal;
	text-transform: uppercase;
	margin-left: 10px;
}

.info__block_margin {
	/*	border: 2px solid red;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: px;
}

.info__block-button {
	width: 160px;
	height: 40px;
	color: #fff;
	background-color:#E51937 ;
	border: 2px solid #fff;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	margin-left: 22px;
	margin-right: 30px;
}

.info__block-margin {
	display: flex;
	align-items: center;
	margin-top: 100px;
}

.span-one {
	text-align: left;
	font-size: 35px;
	font-weight: 600;
}

.span-two {
	font-weight: 600;
	font-size: 20px;
}

.span-tree {
	font-size: 12px;
}


@media screen and (max-width: 960px) {

	.description {
		display: flex;
		flex-direction: column;
	}

	.description__image{
		position: static;
		width: 100%;
	}

	.description__info-character {
		width: 300px;
		height: 206px;
		margin-bottom: 60px;
	}

	.description__title	{
		position: absolute;
		left: 60%;
/*		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		flex-wrap: nowrap;*/
	}
	
	.description__info-title {
		margin-bottom: 25px;
	}

	.description__info{
/*		display: flex;
		flex-direction: column;
		flex-direction: center;*/
		width: 100%;
		height: 487px;
		margin-top: -5px;
		border:2px solid blue;
	}	

	.info {
		border: 2px solid yellow;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-right: 80px;
		margin-top: 55px;
	}

	.info__block_text{
		display: flex;
		flex-direction: column;
		border: 2px solid green;
		margin: 0;
	}
	
	.info__block_item {
		border: 2px solid blue;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.info__block {
		margin-bottom: 30px;
		/*border: 2px solid black;*/
		width: auto;

	}

	.info__block_margin {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 50px;
		border: 2px solid green;
	}

	.info__block-button {
		margin-left: 100px;
	}

	@media screen and (max-width: 480px) {

		.description {

		}

		.description__title {
			display: none;
		}

		.info__block_item {
			display: none;
		}

		.info__block_margin {
			display: none;
		}

		.info__block_text {
			display: flex;
			flex-basis: 100%;
			max-width: auto;
			margin: -250px;
		}
	}