@import "header.css";
@import "firstSection.css";
@import "secondSection.css";
@import "thirdSection.css";

* {
  margin: 0;
  padding: 0;
 }


body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    color: #000000;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto
}

