/*Bottom section*/

.security {
	display: flex;
	justify-content: spa;
	
}

.security__info {
	position: relative;
  box-sizing: border-box;
  width: 440px;
  height: 900px;
  padding-top: 51px;
  padding-left: 52px;
  background-color: #E51937;
  color: #FFF;
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px solid blue;
}

.qwerty {
	border: 2px solid red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
}

.text-top {
	border: 2px solid green;
}

.security__info-title {
	
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 12px;
	border: 2px solid black;
}

.security__info-description {
	font-weight: 500;
	font-size: 15px;
	width: 316px;
	height: 134px;
	border: 2px solid yellow;
}

.wrap__stars {
	border: 2px solid blue;
}

.stars__text {
	font-weight: 600;
	font-size: 30px;
	margin-top: 49px;
	margin-bottom: 29px;
}

.stars {
	margin-bottom: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.stars__item {
	width: 117px;
	margin-right: 50px;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: normal;
	text-transform: uppercase;
}

.info__fiveStars {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
	margin-left: -30px;
	border: 2px solid green;
}

.fiveStars__text {
	font-weight: 600;
	font-size: 50px;
	line-height: 30px;
	margin-left: 24px;
}

.fiveStars__text_size {
	font-weight: 600;
	font-size: 25px;
}

.order__text {
	font-weight: bold;
	font-size: 13px;
	line-height: normal;
	text-transform: uppercase;
	margin-left: 10px;
}

.info__button {
	width: 160px;
	height: 40px;
	color: #fff;
	background-color:#E51937 ;
	border: 2px solid #fff;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	margin-left: 22px;
	margin-right: 30px;
}

.info__order {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 60px;
	border: 2px solid black;
}

.protect__img {
	position: absolute;
	max-width: 1049px;
/*	max-height: 540px;*/
	left: 345px;
	top: 273px;
}

.protect__title {
	white-space: nowrap;
	position: absolute;
	left: 620px;
	top: -20px;
	font-weight: 600;
	font-size: 200px;
	line-height: normal;
	color: #E51937;
	opacity: 0.1;
}

.line__hit-front {
	position: absolute;
	left: 609px;
	top: 273px;
}

.line__hit-side {
	position: absolute;
	width: 14px;
	height: 132px;
	left: 888px;
	top: 223px;
}

.line__coup {
	position: absolute;
	width: 14px;
	height: 118px;
	left: 943px;
	top: 640px;
}

.text__hit-front {
	position: absolute;
	width: 172.68px;
	height: 30px;
	left: 629px;
	top: 255px;
	font-weight: 600;
	font-size: 17px;
	line-height: 15px;
	color: #000;
}

.text__hit-side {
	position: absolute;
	width: 173px;
	height: 41px;
	left: 904px;
	top: 205px;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 15px;
	color: #000;
}

.text__coup {
	position: absolute;
	width: 233px;
	height: 41px;
	left: 960px;
	top: 700px;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 15px;
	color: #000;
}

.stars__item_opacity {
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: normal;
	text-transform: uppercase;
	opacity: 0.7;
}

@media screen and (max-width: 960px) {
	.security {
		display: flex;
		flex-direction: column;
	}

	.security__info {
		width: auto;
		height: 487px;
	}

	.info__fiveStars {
		display: none;
	}

	.qwerty {
		display: flex;
		flex-direction: row;

	}

	.text-top {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: auto;
	}

/*	.piclast {
		position: static;
		widht: 100%;
	}*/

	.protect__title {
		font-size: 148px;
	}
}