body {
	font-family: "Montserrat";
}
/*Header*/
a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #E51937;
	border-bottom: 3px solid #E51937;
	border-bottom-right-radius: 10px 3px;
	border-bottom-left-radius: 10px 3px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	justify-content: flex-start;
	margin-top: 24px;
}

.header__nav-center {
	margin-top: 40px;
	
}

.header__nav-right {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}

.header__nav-item {
	margin-left: 30px;
	font-weight: 600;
	font-size: 15px;
}



/*Section-top*/

/*.section-top__background-one {
	position: absolute;
	width: 968px;
	height: 450px;
	left: 236px;
	top: 279px;
	background: url(img/tesla-png-tesla-png-hd-1636.svg);	
}

.section-top__background-two {
	position: absolute;
	width: 1514px;
	height: 467px;
	left: -37px;
	top: 135px;
	background: url(img/Tesla-Wordmark-Red.svg);
	opacity: 0.1;
	background-position: bottom; 
  background-repeat: no-repeat; 
  background-size: contain;
}*/

}
.section-top {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-top__background {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.section-top__title-one {
	white-space: nowrap;
	font-weight: 600;
	font-size: 90px;
	margin-top: 66px;
}

.section-top__title-six {
	margin-top: -80px;
	white-space: nowrap;
	font-weight: 500;
	font-size: 15px;
}

.section-top__image {
	width: 100%;
	margin-top: -150px;
	margin-bottom: 50px;
}

.section-top__wrap {
	width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.section-top__wrap__inner1 {
	display: flex;
}

.section-top__wrap__inner2 {
	display: flex;
	}

.section-top__wrap__inner3 {
 	display: flex;
 	font-weight: bold;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
}

.section-top__wrap__inner4 {
	display: flex;
	width: 160px;
	height: 40px;
	color: #E51937;
	background-color: #fff;
	border: 2px solid #E51937;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

.section-top__down {
	display: flex;
	justify-content: center;
	margin-top: 37px;
}

.section-top__wrap__span-one {
	text-align: left;
	font-size: 35px;
	font-weight: 600;
}

.section-top__wrap__span-two {
	font-weight: 600;
	font-size: 20px;
}

.section-top__wrap__span-tree {
	font-size: 12px;
}